<section class="page-title error-page">

  <span>
    404 ERROR
  </span>

  <h1>
    Halaman Tidak Ditemukan
  </h1>

  <p>
    Halaman yang Anda cari mungkin sudah dipindahkan, diperbarui, atau belum tersedia saat ini. Gunakan fitur pencarian untuk menemukan informasi atau halaman lainnya dengan lebih cepat.
  </p>

  <form
    class="searchbox"
    action="/search"
    method="get"
  >

    <input
      name="q"
      placeholder="Cari informasi atau halaman lainnya..."
      autocomplete="off"
    >

    <button>
      Cari
    </button>

  </form>

</section>
