<section class="page-title error-page">

  <span>
    SISTEM
  </span>

  <h1>
    Terjadi Kendala Sistem
  </h1>

  <p>
    Halaman sedang diproses ulang untuk meningkatkan kenyamanan akses. Silakan kembali beberapa saat lagi atau lanjutkan ke halaman utama untuk melihat informasi terbaru lainnya.
  </p>

  <a
    class="btn"
    href="/"
  >
    Kembali ke Homepage
  </a>

</section>
