<section class="page-title"><span>HALAMAN INFORMASI</span><h1><%= page.title %></h1><p><%= page.description || '' %></p></section>
<article class="article"><div class="content"><p><%= page.body || '' %></p></div><div class="chips"><a href="/">OMTOGEL</a><a href="/search/login-omtogel">Login OMTOGEL</a><a href="/search/link-alternatif-omtogel">Link Alternatif OMTOGEL</a><a href="/berita">Berita Bola OMTOGEL</a></div></article>
